@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@section heroImage {
    <div class="heading__img-container heading__img-container--cat">
    </div>
}

    <main class="wrapper container container--authentication">
        <article class="authentication bg-white-100">
            <h1 class="fs-products-h2 fw-700 ls-checkout text-black-100 lh-checkout">@ViewData["Title"]</h1>
            <form id=account method="post" class="authentication__form">
                <div asp-validation-summary="ModelOnly" class="validation-summary fw-500 fs-checkout-h3 text-red-100"></div>
                <div class="validation-wrapper">
                    <span asp-validation-for="Input.Email" class="fw-500 fs-checkout-h5 text-red-100"></span>
                    <label asp-for="Input.Email" class="fw-700 fs-checkout-h5 text-black-100"></label>
                </div>
                <input asp-for="Input.Email" class="fw-700 fs-main-h5 text-black-100 input-fields" autocomplete="username" aria-required="true" />
                <div class="validation-wrapper">
                    <span asp-validation-for="Input.Password" class="fw-500 fs-checkout-h5 text-red-100"></span>
                    <label asp-for="Input.Password" class="fw-700 fs-checkout-h5 text-black-100"></label>
                </div>
                <input asp-for="Input.Password" class="fw-700 fs-main-h5 text-black-100 input-fields" autocomplete="new-password" aria-required="true" />
                <div class="validation-wrapper">
                    <span asp-validation-for="Input.ConfirmPassword" class="fw-500 fs-checkout-h5 text-red-100"></span>
                    <label asp-for="Input.ConfirmPassword" class="fw-700 fs-checkout-h5 text-black-100"></label>
                </div>
                <input asp-for="Input.ConfirmPassword" class="fw-700 fs-main-h5 text-black-100 input-fields" autocomplete="new-password" aria-required="true" />
            </form>
            <div class="authentication__submit-btn">
                <input form="account" id="login-submit" type="submit" value="Register" class="button-main button-main--black fw-700 text-white-100 fs-button ls-button uppercase">
                <a class="authentication__alternative-link underline text-black-100 fs-main-p lh-p" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already have an account?  Login</a>
            </div>
        </article>
    </main>

@*
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
