@model ProductViewModel

@section heroImage {
	<div class="heading__img-container heading__img-container--cat">
	</div>
}

	<main role="main" class="wrapper container container--product">
		<article class="products__product-outer">
			<a href="##" onclick="history.go(-1); return false;" class="fw-500 text-black-100 opacity-05 lh-p fs-main-p">Go Back</a>
			<div class="products__product">
				<div class="categories__product__img-container">
					<picture>
						<source media="(min-width: 1025px)"
							srcset="@Model.Image.Desktop" />
						<source media="(min-width: 600px)"
							srcset="@Model.Image.Tablet" />
						<img class="border-radius image-reset" src="@Model.Image.Mobile" />
					</picture>
				</div>
				<div class="products__product__text">
				@if (Model.isNew)
				{
					<h5 class="margin-b--2 fw-400 text-beige-100 fs-main-h5 ls-h5 uppercase">New Product</h5>
				}
					<h3 id="product-name" class="width-50-tablet text-black-100 fs-main-h3 ls-h3 lh-h3 fw-700 uppercase">@Model.Name</h3>
					<p class="fw-500 fs-main-p text-black-100 opacity-05 lh-p">@Model.Description</p>
				<p class="fw-700 fs-main-price ls-h1 text-black-100">@Model.Price.ToString("C", Cultures.UnitedKingdom)</p>
					<div class="add-to-basket-container">
						<div class="item-incrementer item-incrementer--product">
							<partial name="_ProductBasketIncrementer" model="1"/>
						</div>
						<a id="add-to-cart" class="uppercase button-main button-main--beige fs-button fw-700 ls-button">add to cart</a>
					</div>
					
				</div>
			</div>
		</article>
		<article class="products__details">
			<article class="products__details__features">
				<h2 class="fw-700 ls-h2 text-black-100 fs-products-h2 uppercase">Features</h2>
				<p class="line-breaks fw-500 fs-main-p text-black-100 opacity-05 lh-p">@Model.Features</p>
			</article>
			<article class="products__details__accessories">
				<h2 class="fw-700 ls-h2 text-black-100 fs-products-h2 uppercase">In The Box</h2>
				<ul role="list" class="accessories__list">
					@foreach (var accessory in Model.Accessories)
				{
					string quantity = String.Concat(accessory.Quantity.ToString(), "x");
					<li class="accessories__list__item">
						<p class="fw-700 fs-main-p text-beige-100">@quantity</p>
						<p class="fw-500 fs-main-p text-black-100 opacity-05">@accessory.Item</p>
					</li>
				}
				</ul>
			</article>
		</article >
		<article class="products__gallery">
			<div class="products__gallery__small">
				<div>
				<picture>
					<source media="(min-width: 1025px)"
							srcset="@Model.Gallery.First.Desktop" />
					<source media="(min-width: 600px)"
							srcset="@Model.Gallery.First.Tablet" />
					<img class="border-radius image-reset" src="@Model.Gallery.First.Mobile" />
				</picture>
				</div>
				<div>
					<picture>
					<source media="(min-width: 1025px)"
							srcset="@Model.Gallery.Second.Desktop" />
					<source media="(min-width: 600px)"
							srcset="@Model.Gallery.Second.Tablet" />
					<img class="border-radius image-reset" src="@Model.Gallery.Second.Mobile" />
					</picture>
				</div>
			</div>
			<div>
			<picture>
				<source media="(min-width: 1025px)"
						srcset="@Model.Gallery.Third.Desktop" />
				<source media="(min-width: 600px)"
						srcset="@Model.Gallery.Third.Tablet" />
				<img class="border-radius image-reset" src="@Model.Gallery.Third.Mobile" />
			</picture>
			</div>
		</article>
		<article class="products__related-data-outer">
			<h2 class="text-black-100 fs-products-h2 fw-700 lh-h2 ls-h2 uppercase">You may also like</h2>
			<div class="products__related-data">
			
				@foreach (var otherProduct in Model.RelatedData)
			{
				<article class="products__related-data__item">
					<div>
					<picture>
						<source media="(min-width: 1025px)"
								srcset="@otherProduct.Images.Desktop" />
						<source media="(min-width: 600px)"
								srcset="@otherProduct.Images.Tablet" />
							<img class="border-radius image-reset" src="@otherProduct.Images.Mobile" />
					</picture>
					</div>
					<h3 class="text-black-100 fs-products-h3 lh-h3 fw-700 uppercase">@otherProduct.Name</h3>
					<a asp-controller="Product" asp-action="Product" asp-route-id="@otherProduct.ProductId" class="button-main button-main--beige fw-700 text-white-100 fs-button ls-button uppercase">See Product</a>
				</article>
			}
			</div>
		</article>
	<partial name="_CategoriesWithWrapper" />
	<partial name="_BestGearPartial" />
	</main>